@{
    if (ViewData["activePage"] == null)
    {
        ViewData["activePage"] = "";

    }
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - evan.ninetyfivetees.web</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="~/css/nouislider.min.css" rel="stylesheet" />
    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.min.css" asp-append-version="true" />
    </environment>
</head>
<body>
    <nav class="navbar @(ViewData["activePage"].ToString() != "home" ? "inverse": "")">
        <a asp-controller="" asp-action="" class="logo">
            95 Tees
        </a>

        <ul class="nav">
            <li class="nav-item @(ViewData["activePage"].ToString() == "home" ? "active": "")">
                <a asp-controller="" asp-action="">home</a>
            </li>
            <li class="nav-item @(ViewData["activePage"].ToString() == "shop" ? "active": "")">
                <a asp-controller="merch" asp-action="">shop</a>
            </li>
            <li class="nav-item @(ViewData["activePage"].ToString() == "about" ? "active": "")">
                <a asp-controller="about" asp-action="">about</a>
            </li>
            @await Html.PartialAsync("_LoginPartial")
        </ul>
    </nav>

    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">evan.ninetyfivetees.web</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    @await Html.PartialAsync("_LoginPartial")
                </div>
            </div>
        </nav>*@

    @RenderBody()

    <footer class="footer">
        <div class="container">
            <ul class="col">
                <li class="nav-item">
                    <a asp-controller="" asp-action="">home</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="merch" asp-action="">shop</a>
                </li>
                <li class="nav-item">
                    <a asp-controller="about" asp-action="">about</a>
                </li>
            </ul>

            <ul class="col">
                <li class="contact-item">
                    Email: <a href="mailto:evan@email.com">evan@email.com</a>
                </li>
                <li class="contact-item">
                    Phone: <a href="tel:0000000000">0000000000</a>
                </li>
            </ul>
        </div>

        <div class="copy">
            <span>&copy; @String.Format("{0}.", DateTime.Now.Year) All Rights Reserved.</span>
        </div>
    </footer>

    <script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.min.js"></script>
    @*<script src="//cdnjs.cloudflare.com/ajax/libs/velocity/1.5.1/velocity.ui.min.js"></script>*@
    <environment include="Development">
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
