@model IEnumerable<evan.ninetyfivetees.web.Models.Shirts>
@{
    ViewData["Title"] = "Index";
    ViewData["activePage"] = "shop";
}


<div class="shop-grid">
    @foreach (var item in Model)
    {
        <a asp-action="view" asp-route-id="@item.Id" class="shop-item" style="background-image: url('@item.Image')">
            <div class="view-overlay">
                <div class="content">
                    <div class="title">@item.Title</div>
                    <div class="design">@item.Design.Name.ToUpper()</div>
                    <div class="price">@item.Price</div>
                </div>
            </div>
            @*<div class="image"></div>
            <div class="title">
                <h2>@item.Title</h2>
            </div>
            <div class="description">
                <p>
                    @item.Description
                </p>
                <ul class="description-list">
                    <li><b>Price: </b>@item.Price</li>
                    <li><b>Color: </b>@item.Color.Name</li>
                    <li><b>Design: </b>@item.Design.Name</li>
                    <li><b>Size: </b>@item.Size.Name</li>
                </ul>
            </div>*@
        </a>
    }
</div>

