<h1>List Possible Actions Here</h1>

<div class="card-buttons">
    <div class="card-button">
        <div class="content">
            <div class="icon">
                <i class="material-icons">shopping_basket</i>
            </div>
            <div class="label">Shirts</div>
        </div>
        <div class="action">
            <a class="button dark" asp-action="Create">Create New</a>
            <a class="button dark lined" asp-action="shirts">View All</a>
        </div>
    </div>

    <div class="card-button">
        <div class="content">
            <div class="icon">
                <i class="material-icons">format_size</i>
            </div>
            <div class="label">Shirt Sizes</div>
        </div>
        <div class="action">
            <a class="button dark" href="#">Create New</a>
            <a class="button dark lined" asp-action="shirtSizes">View All</a>
        </div>
    </div>

    <div class="card-button">
        <div class="content">
            <div class="icon">
                <i class="material-icons">playlist_add</i>
            </div>
            <div class="label">Shirt Types</div>
        </div>
        <div class="action">
            <a class="button dark" href="#">Create New</a>
            <a class="button dark lined" asp-action="shirtTypes">View All</a>
        </div>
    </div>
</div>

@*@model IEnumerable<evan.ninetyfivetees.web.Models.Shirts>
@{
    ViewData["Title"] = "Index";
}
<h2>Index</h2>
<div class="admin-detail-list">
    @foreach (var item in Model)
    {
        <a asp-action="Details" asp-route-id="@item.Id" class="item">
            <div class="image" style="background-image: url(@item.Image)"></div>
            <div class="content">
                <div class="stock-status">In Stock: @(item.Instock == true ? "yes":"no")</div>
                <div class="title">@item.Title</div>
                <div class="price">@String.Format("{0:C}", item.Price)</div>
                <ul class="info">
                    <li>
                        <div class="key">Color</div>
                        <div class="value">@item.Color.Name</div>
                    </li>
                    <li>
                        <div class="key">Design</div>
                        <div class="value">@item.Design.Name</div>
                    </li>
                    <li>
                        <div class="key">Gender</div>
                        <div class="value">@item.Gender.Description</div>
                    </li>
                </ul>
                <br />
                <div class="sizes">
                    @foreach (var size in item.ShirtSizes)
                    {
                        <div class="size">@size.Size.Name</div>
                    }
                </div>
            </div>
        </a>
    }
</div>
<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Instock)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Color)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Design)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Gender)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IdNavigation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Season)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Image)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Instock)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Color.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Design.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Gender.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdNavigation.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Season.Id)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>*@
